<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>test</title>
    <meta charset="UTF-8">
    <style type="text/css">
    </style>
  </head>


  <body ng-controller="mycontroller">
    <div>
      <h2>upload Images</h2>
      <form novalidate name="uploadForm">
        <label for="image">image</label><input id="image" type="file" multiple file-input="files" /><br>
        <button ng-click="upload()">Upload</button>
      </form>

      <hr/>
<!--
      <h2>Add slide</h2>
      <form novalidate >
        <label for="image">image name</label><input id="image" type="text" ng-model="addSlide.image" value="my_image.svg"><br>
        <label for="duration">duration</label><input id="duration" type="number" min="1" max="3600" ng-model="addSlide.duration"> secondes<br>
        <button ng-click="addSlide(addSlide)">Add Slide</button>
        <button ng-click="resetAddSlide()">reset</button>
      </form>
      <br/>
-->
      <h2>Add slides</h2>
      <button ng-click="editSlides()">editCurrentSlide</button>
      <form novalidate >
      <textarea ng-model="bulkAddSlides"></textarea>
        <button ng-click="bulkSlides(bulkAddSlides)">Add Slides</button>
      </form>

      <hr/>
      <h2>direct actions on client slides</h2>
      <button ng-click="reload()">reload clients (use to update JS) </button>
      <button ng-click="clearRemoteSlides()">remove all clients slides</button>
      <button ng-click="pushAllSlides()">set clients slides</button>
      <button ng-click="startSlideShow()">start slide show</button>
      <button ng-click="stopideShow()">stop slide show</button>
      <button ng-click="restartSlideShow()">restart slide show</button>
      <br>
      <div>
        <hr/>
        <h2>setDefaultSlide</h2>
        <form novalidate >
          <label for="image">image name</label><input id="image" type="text" ng-model="setDefaultSlide.image" value="my_image.svg"><br>
          <label for="duration">duration</label><input id="duration" type="number" min="1" max="3600" ng-model="setDefaultSlide.duration"> secondes<br>
          <button ng-click="setDefaultSlide(setDefaultSlide)">setDefaultSlide</button>
          <button ng-click="resetDefaultSlide()">reset</button>
        </form>
      </div>

      <div>
        <hr/>
        <h2>forceDisplaySlide</h2>
        <form novalidate >
          <label for="image">image name</label><input id="image" type="text" ng-model="forceSlide.image" value="my_image.svg"><br>
          <button ng-click="forceDisplaySlide(forceSlide)">forceDisplaySlide</button>
          <button ng-click="resetForceSlide()">reset</button>
        </form>
      </div>

      <hr/>
      <h2>reorder slides</h2>
      <div>
        <button ng-click="clearLocalSlide()">clear slides</button>
        <ul dnd-list="slides">
          <!-- The dnd-draggable directive makes an element draggable and will
            transfer the object that was assigned to it. If an element was
            dragged away, you have to remove it from the original list
            yourself using the dnd-moved attribute -->
          <li ng-repeat="slide in slides"
              dnd-draggable="slide"
              dnd-moved="slides.splice($index, 1)"
              dnd-effect-allowed="move"
              dnd-selected="dndItemSelected = item"
              ng-class="{'selected': dndItemSelected === item}"
              >
              {{slide.id}} <button ng-click="deleteLocalSlide(slide.id)">delete</button>
          </li>
        </ul>
      </div>
    </div>
    <script src="./client/admin/js/body.js"></script>
  </body>
</html>
